/**{
	border: solid 1px red; 
}*/


body::-webkit-scrollbar {
  display: none;
}
.landing{
	background-image: url("../../assets/images/background-2.png");
	min-height: 700px;
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

hr {
	width: 80%;
	border-width: 2px;
}

.cont-line {
	width: 70px;
}

option{
	background-color: #343a40 !important;
	color: white !important; 
}

select{
	color: white !important;
}


.retina{
	width: 259px;
	height: 75px;
}

.name{
	letter-spacing: 3px !important;
}

.footpic{
	width: 80%;
	height: 80%;
}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 1px solid #f1f1f1;
}


.caro-i {
  background-color: rgba(0,0,0, 0.7);
  color: white;
  box-shadow: 14px 21px 41px -72px rgba(245,187,41,1);
  padding: 2px; 
}

.caro-i:hover{
	border-color: #6c757 !important;
	color:#ffc107 !important;
	background-color: rgba(0,0,0, 0.7) !important;
	transform: translate3D(0,-1px,0) scale(1.03);
	box-shadow: 2px 4px 38px -6px rgba(92,92,86,1);
}

a:hover{
	color:#ffc107 !important;
}

.icons{
	height: 70px;
	width: 70px;
}

.arrow{
	width: 20px;
	align-self: center;
}

.works{
	height: 250px;
}

.card {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 3px solid #F4BA59;
  box-shadow: 14px 21px 41px -72px rgba(245,187,41,1);
}

.card:hover {
	box-shadow: 14px 22px 41px -9px rgba(153,110,0,1);
	transform: translate3D(0,-1px,0) scale(1.03);
}
.skill{
	border: 1px solid #343a40;
	box-shadow: 14px 21px 41px -72px rgba(245,187,41,1);
}

.skill:hover {
	transform: translate3D(0,-1px,0) scale(1.03);
	box-shadow: 2px 4px 38px -6px rgba(92,92,86,1);
}


.aboutMe{
	background-color: rgba(252, 186, 3);
	opacity: 5;
	min-height: 550px;
	background-position: center;
	background-size: cover;
	animation: mymove 2	s infinite;
}
@keyframes mymove {
  from {background-color: rgba(252, 186, 3);}
  to {background-color: rgba(222, 164, 4);}
}

.me{
	height: 120px;
	width: 130px;
	opacity: 0.9;
}

.hello{
	max-height: 700px;
	max-width: 450px;
	opacity: .8;

}
.animate__animated.animate__bounceOutDown {
  animation-duration: 5s;
}
.ml3 {
  font-weight: 400;
  font-size: 3.5em;
  color: #d6d6c2;
}


/*for mobile*/
@media screen and (min-width: 360px) and (max-width: 667px){
	.hello{
		max-height: 200px;
		max-width: 180px;
		padding-top: 5px;
	}

	.nosm {
		display: none;
	}

}
/*ipad*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.hello {
		max-height: 350px;
		max-width: 300px;
		padding: 5px 5px 5px;
	}

	.nosm {
		display: none;
	}

	.lands{
		margin:0px;
		padding: 0px;
	}
}
